/*Colors from Blue Hippopotamus by LJK http://www.colourlovers.com/palette/149132/Blue_Hippopotamus */
.navbar {
  background: #fff;
  opacity: 0.9;
  box-shadow: 2px 2px 5px #BEE2E7; }
  .navbar .navbar-brand {
    border-top: 5px #BEE2E7 solid; }
    .navbar .navbar-brand :hover {
      color: #72818B; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; }

#about {
  position: relative;
  background: url("../img/andaz.jpg");
  min-height: 550px; }
  #about .rain-overlay {
    background: rgba(190, 226, 231, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #about #profile {
    border-radius: 5px;
    border: 2px #72818B solid; }
  #about p {
    font-weight: 400;
    font-size: 1.5em; }

#portfolio h2 {
  color: #454857; }
#portfolio .card {
  border-radius: 5px;
  border: 1px #72818B solid; }
#portfolio i {
  font-size: 32px; }
#portfolio i:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2); }

#contact {
  background-color: #454857; }
  #contact h2 {
    color: #fff; }
  #contact p, #contact .btn {
    font-size: 1.5em; }
  #contact #email-me {
    color: white;
    text-decoration: underline; }
  #contact ul, #contact li {
    margin: 0;
    padding: 0;
    vertical-align: baseline; }
  #contact ul {
    list-style-type: none; }
    #contact ul li {
      display: inline-block; }
      #contact ul li i {
        color: white;
        font-size: 48px; }
      #contact ul li i:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2); }

@media (max-width: 354.98px) {
  .navbar-brand h1 {
    font-size: 1.3em; }

  .display-3 {
    font-size: 3em; } }
@media (max-width: 767.98px) {
  #about {
    text-align: center; } }
