/*Colors from Blue Hippopotamus by LJK http://www.colourlovers.com/palette/149132/Blue_Hippopotamus */
$dark-motion: #454857;
$rain: #BEE2E7;
$rain-overlay: rgba(190, 226, 231, 0.8);
$silver-lining: #72818B;
$velvet-pink: #8F002E;
$windy-day: #4F57AA;

.navbar {
  background: #fff;
  opacity: 0.9;
  box-shadow: 2px 2px 5px $rain;

  .navbar-brand {
    //color: $dark-motion;
    border-top: 5px $rain solid;

    :hover {
      color: $silver-lining;
    }
  }

  .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;
  }
}

#about {
  position: relative;
  background: url('../img/andaz.jpg');
  min-height: 550px;

  .rain-overlay {
    background: $rain-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #profile {
    border-radius: 5px;
    border: 2px $silver-lining solid;
  }

  p {
    font-weight: 400;
    font-size: 1.5em;
    //background-color: rgba(266, 266, 266, 0.5);
    //padding: 5px;
  }
}

#portfolio {
  h2 {
    color: $dark-motion;
  }

  .card {
    border-radius: 5px;
    border: 1px $silver-lining solid;
  }

  i {
    font-size: 32px;
  }

  i:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
}

#contact {
  background-color: $dark-motion;


  h2 {
    color: #fff;
  }

  p, .btn {
    font-size: 1.5em;
  }

  #email-me {
    color: white;
    text-decoration: underline;
  }

  ul, li {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
  }

  ul {
    list-style-type: none;

    li {
      display: inline-block;

      i {
        color: white;
        font-size: 48px
      }
      i:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
      }
    }
  }

}


@media(max-width: 354.98px) {
  .navbar-brand h1 {
    font-size: 1.3em;
  }

  .display-3 {
    font-size: 3em;
  }
}

@media(max-width: 767.98px) {
  #about {
    text-align: center;
  }
}
